body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  }

  .container h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .form-group button {
    margin:0px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  .form-group .register-link {
    text-align: center;
    margin-top: 10px;
  }

  .form-group .register-link a {
    color: #000;
    text-decoration: none;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }

  .home-button {
display: inline-flex;
align-items: center;
padding: 10px 20px;
background-color:black;
color: #ffffff;
text-decoration: none;
border-radius: 5px;
}

.home-button i {
margin-right: 5px;
}